.comp-cabecalho{
   
    background-color: #cecece;
    .container-cabecalho{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .menu{
            ul{
                display: flex;
                min-width: 300px;
                justify-content: space-around;
                li{
                    list-style: none;
                    

                }
            }
        }
    }
}